- if object.errors.any?
  #error_explanation
    %h2
      = "#{object.errors.count}"
      #{Russian::pluralize(object.errors.count, "ошибка", "ошибки", "ошибок")} мешают сохранению:
    %p Были проблемы со следующими полями:
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
