%title Система электронного документооборота воинской части | @title
%h1  Система электронного документооборота воинской части
%p
  Это главная страница.

- if !user_signed_in?
  = link_to "Зарегистрироваться сейчас!", new_user_registration_path, :class => "signup_button round"
